<ul>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Index">Root</a>
    </li>
    <li>
        <a asp-area="Default" asp-controller="Home" asp-action="Index">Default</a>
    </li>
</ul>